
h1 { color: #500B0B; 
  font-family: arial; 
  text-align: center; 
  border: solid; 
  background-color: #BB6F00;
  font-size: 225%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5px;
  margin-top: 0px;

}
h2 { font-family: arial; 
  color: #F00C0C; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  border-radius: 20px;
  padding: 5px
}
h4 {text-align: center; font-size: 125%; color: rgba(113, 7, 7, 0.95); 
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
  border-radius: 20px;
  width: inherit;

}
p {
    font-family: times;
    color: #500B0B;
    font-size: 115%;
    font-style: center; 
    font-weight: 0%; 
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

}
iframe { position: center; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
a  {color: #500B0B; 
}

body {
      margin: 0;
      padding: 0;
      background: #BB6F00; <--- sets back text ---> 
    }

.nav ul {
      list-style: inside;
      
      text-align: center;
      padding-top: 10px;
      
      border: none;
      background-color: none; opacity: 0.8;
      margin: none;
      padding-bottom: 0px;
      
      
       
      
      
    }
    
 .nav li {
      font-family: 'Oswald', sans-serif;
      font-size: 110%;
      line-height: 20px;
      height: 40px;
      border: 0px solid #888;
      line-height: 40px;
      padding: 5px;
      border-collapse: inherit;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
      border-radius: 20px;
      position: center;
    }

    .nav li {
      display: inline-block;
    }
    .nav a {
      text-decoration: none;
      color: inherit;
    }
    .nav a:hover {
      background-color: #005f5f;
    }
    a.active {
      background-color: #fff;
      color: #444;
    }

.tst1 {font-family: arial; text-align: center; font-size: 125%;}
.tst2 {
    padding: 10px; 
    background-color: none; 
    border: rgba(113, 7, 7, 0.95);
    border-style: inset; border-radius: 10px ; 
}
 .tst3 
 {  padding: 10px; 
    background-color: none; 
    border: rgba(113, 7, 7, 0.95);
    border-style: inset; border-radius: 10px ; 
    position: relative; left: 750px;
    

}
.fuckagoat {
    background-color: orange;
    color: black;
    font-size: 150%;
}
.articleform { background-color: #F8F8F8;
    padding: 20px;
    border: 5px solid #008000 ; 
    border-color: rgba(113, 7, 7, 0.95); 
    border-style: inset; 
    border-radius: 10px;
    margin: 10px; 
    font: black;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}
body { background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-image:  url("images/old-grunge-vector-background.jpg");
  margin-left: 1cm; margin-right: 1cm;

  { 

    border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 15px;